{
	# enable FrankenPHP mode globally
	frankenphp
}

:8080 {
	# root directory of humhub
	root * /app/public

	# enable compression of responses
	encode zstd gzip

	# start the app via FrankenPHP
	php_server
}
